* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pattaya', sans-serif;
}

body{
    background-color: rgb(242, 242, 251);
}

.container{
    color:rgb(250, 243, 243);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    width: 500px;
    background-color: rgb(9, 26, 27);
    padding: 70px 40px;
    position:absolute;
    left: 35%;
    top: 30%;
    border-radius: 8px;
    font-size: 18px;
}

.input_box{
    width: 51%;
    margin-left: 90px;
    margin-bottom: 40px;
}

label{
    font-size: 30px;
    font-weight: 400;
}

input{
    width: 150px;
    height: 30px;
    margin-top: 8px;
    padding: 0 10px;
}